h1 {
    padding: 10px;
    font-size: 44px;
}

h2{
    font-size: 28px;
}

.degrees {
    font-size: 34px;
}

.details {
    list-style: none;
    background-color: #fff;
    padding: 5px;
    position: fixed;
    left: 310px;
    top: 210px;
    font-size: 9px;
    font-family: Helvetica;
}

body {
    background: radial-gradient(592px at 48.2% 50%,
            rgba(255, 255, 249, 0.6) 0%,
            rgb(160, 199, 254) 74.6%);
}

.weather-card {
    margin: 30px auto;
    padding: 20px;
    max-width: 900px;
    border-radius: 30px;
    border: 1px solid lightskyblue;
    height: max-content;
    background: radial-gradient(592px at 48.2% 50%,
            rgba(255, 255, 249, 0.6) 0%,
            rgb(160, 199, 254) 74.6%);
    transform: perspective(1000px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sun {
    font-size: 40px;
    color: yellow;
}

.cloud {
    font-size: 40px;
    color: white;
}

.wind {
    font-size: 40px;
    color: white;
}

.city {
    list-style: none;
    position: absolute;
    left: 280px;
    top: 95px;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: normal;
    color: rgb(10, 10, 10);
    padding: 5px;
}

.town {
    font-size: 44px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.temperature {
    display: flex;
    margin: 0 10px;
    color: black;
    text-decoration: double;
    text-shadow: 10px;
    font-style: oblique;
    font-size: 10px;
}

.long-line {
    width: 70%;
    
}

.line::after {
    position: absolute;
    content: "Lulu's WeatherApp";
    right: 10px;
    font-size: 0.8em;
    color: gray;
}

.btn {
    margin-right: 15px;
}

.lululink{
    text-align: center;
}
.lululink :hover{
    text-decoration: none;
}

.units{
    font-size: 20px;
}


.units .active {
    color: black;
    cursor: default;
}

.units :hover{
    text-decoration: none;
}
a{
    text-decoration: none;
}